@model AltudoApplication.WebApp.Models.FormRequest
@{
    ViewData["Title"] = "Home Page";
}

    <div class="panel-body">
        @using (Html.BeginForm("ElementExtractor", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "col-xs-12", role = "form" }))
        {
        <fieldset>
            <div>
                <p style="font-weight:bolder">Iremos buscar todas as imagens e também o TOP 10 de palavras mais utilizadas do Website indicado abaixo.</p>
            </div>
            <br />
            <div class="form-group">
                <label for="url">Digite o endereço de um Website:</label>
                @Html.TextBoxFor(Model => Model.URL, new { @class = "form-control", placeholder = "http://" })
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Vamos lá!</button>
        </fieldset>
        }
    </div>
